*{
    margin: 0;
    padding: 0;
}

.titulo1{
    text-align: center;
    margin: 35px 0;
}

.navContenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(160, 7, 147);
    padding-top: 20px;
    padding-bottom: 20px;
}

.navContenedor .linkk{
    text-decoration: none;
    padding: 10px 10px;
    color: white;
    transition: 0.6s;
}

.navContenedor .link_logo{
    text-decoration: none;
    padding: 10px 10px;
    color: white;
    transition: 0.6s;
}

.navContenedor .linkk:hover{
background-color: white;
color:rgb(0, 0, 0); 
}

.navContenedor h3{
    color: white;
}

.carrito{
    width: 50px;
    height: auto;
}

.productos-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
}

.productos-contenedor div{
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.elementoCarrito{
margin: 40px;
border-radius: 10px;
background-color: #f5f6f6;
padding: 30px;

}

.contenedorProduc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contBoton{
    text-align: center;
}

